h1 {
    font-size: 3rem;
}
h2 {
    font-size: 1.2rem;
}
.line {
    height: 0.1rem;
    background-color: rgb(41, 106, 218);
    border: none;
    margin-right: 1rem;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
aside {
    background-color: rgb(41, 106, 218);
    outline: 3px solid rgb(37, 34, 180);
    color: rgb(223, 229, 255);
}
.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: rgb(223, 229, 255);
    outline: 3px solid rgb(37, 34, 180);
}
.sidebar {
    flex-basis: 16rem;
    flex-grow: 1;
}
.sidebar-container {
    padding: 1rem;
}
.not-sidebar {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    color: rgb(41, 106, 218);
    padding: 1rem;
}
.wrapper {
    max-width: 56rem;
    margin-right: auto;
    margin-left: auto;
}
img {
    max-width: 100%;
}